/* accueil ----------------------------------------------*/

#accueil{
    display: flex;
    background-image: url("../images/backgrounds/background_accueil.svg");
    background-repeat: repeat-y;
    background-size: cover;
    background-clip: border-box;
}

#accueil > div:not(:first-child) {
    width: 50%;
}

#accueil_left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#accueil_left_up{
    margin-left: auto;
    margin-right: 10%;
}

#accueil_left_up > h1{
    font-size: 60px;
}

#accueil_left_up > h2{
    font-size: 40px;
}

#accueil_left_down h2{
    position: relative;
    top: 55%;
    width: 275px;
    left: 35%;
}

#accueil_left img{
    width: 50%;
    margin-left: 20%
}

#accueil_left_down h3{
    font-weight: lighter;
}

#accueil_right img{
    height: 100%;
    margin-left: 21%;
}

/* projects ------------------------------------------------*/

#projects {
    background-image: url("../images/backgrounds/background_projets.svg");
    background-repeat: repeat-y;
    background-size: cover;
}

#projects > h1{
    margin-left: 20%;
    font-size: 300%;
}

#slider{
    width: 90%;
    height: 60%;
    margin: auto;
    display: flex;
    align-items: center;
}

#slider_content {
    position: relative;
    width: 100%;
    height: 100%;
}

#slider > button {
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(90,90,90,0.0);
    border-radius: 0;
    transition: background-color 0.2s ease-in;
}

#slider > button:hover {
    background-color: rgba(90,90,90,0.4);
}

.slider_child{
    /*background: rgba(100, 100, 100, 0.5);*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.2s ease-in;
    position: absolute;
    top: 0;
    left: 0;
}

.slider_child > div{
    width: 50%;
}

.slider_child > div > img{
    max-width: 80%;
    max-height: 80%;
    margin: 10%;;
}

.slider_child > div:nth-child(0n+2) {
    max-width: 40%;
}

#slider_pause {
    width: 30px;
    height: 30px;
    bottom: 0;
    position: absolute;
    z-index: 1000;
}

/* about ------------------------------------------------*/

#about {
    background-image: url("../images/backgrounds/background_apropos.svg");
    background-repeat: repeat-y;
    background-size: cover;
}
